<% content_for :head do %>
<% end %>

<div class="span-12">
	<h2>Displays</h2>

	<ul>
		<li><%= link_to "Scroll", "/displays/scroll/" %></li>
		<li><%= link_to "Wiggle", "/displays/wiggle/" %></li>
		<li><%= link_to "Appear", "/displays/appear/" %></li>
	</ul>
</div>

<div class="span-12 last">
	<h2>Admin</h2>

	<ul>
		<li><%= link_to "People List", people_path %></li>
		<li><%= link_to "API Documentation", api_path %></li>
	</ul>
</div>