<!DOCTYPE html>
<html>
<head>
	<title>HCII Bulletin Board</title>
	
	<!-- Blueprint CSS -->
	<link rel="stylesheet" href="/stylesheets/cw15gw20cc24/screen.css" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="/stylesheets/cw15gw20cc24/print.css" type="text/css" media="print" /> 
	<!--[if lt IE 8]>
		<link rel="stylesheet" href="/stylesheets/cw15gw20cc24/ie.css" type="text/css" media="screen, projection" />
	<![endif]-->
	
	<%= javascript_include_tag :defaults %>
	<%= csrf_meta_tag %>
	
	<style type="text/css">
	html, body {
		color:#fff;
		background-color:#222;
	}
	a { color:#44a9eb; }
	span.pipe {
		margin:0 5px;
		color:#666;
	}
	tbody tr:nth-child(even) td,
	tbody tr.even td {
		background-color:#444;
	}
	td {
		vertical-align:top;
	}
	
	/* Header */
	#hd {
		margin-bottom:20px;
		padding-top:5px;
		height:24px;
		color:#fff;
	}
		#hd h1 {
			font-size:14px;
			font-weight:bold;
			color:#fff;
		}
		#hd h1>a {
			color:#fff;
			text-decoration:none;
		}
	#account-nav {
		text-align:right;
	}
	
	/* Body */
	#bd {
		margin-bottom:20px;
	}
		#bd h1, #bd h2 {
			color:#fff;
		}
	#bd-nav {
		float:right;
	}
		#bd-nav>a {
			display:block;
			float:left;
			margin:0 0 5px 5px;
			padding:3px 5px;
			background-color:#444;
			-webkit-border-radius:3px;
			-moz-border-radius:3px;
			border-radius:3px;
			text-decoration:none;
		}
		#bd-nav>a:hover {
			color:#fff;
			background-color:#44a9eb;
		}
	
	/* Footer */
	#ft {
		margin-bottom:20px;
		padding-top:5px;
		border-top:1px solid #444;
		color:#ccc;
	}
	</style>
</head>
<body>

<div id="hd">
	<div class="container">
		<div class="span-12">
			<h1><%= link_to "HCII Bulletin Board", root_path %></h1>
		</div>
		<div id="account-nav" class="span-12 last">
			<% if authorized? %>
				You're logged in <span class="pipe">|</span>
				<%= link_to "Log out", logout_path %>
			<% else %>
				<%= link_to "Log in", login_path %>
			<% end %>
		</div>
	</div>
</div>
	
<div class="container">
	<div id="bd" class="span-24">
		<%= yield %>
	</div>
	
	<div id="ft" class="span-24">
		Copyright &copy; 2011 
		<%= link_to "HCII", "http://www.hcii.cmu.edu/" %>, 
		<%= link_to "Carnegie Mellon University", "http://www.cmu.edu/" %>.
	</div>
</div>

</body>
</html>
