<!DOCTYPE html>
<html>
<head>
	<title>
		<% title = yield(:title) %>
		<%= (title.blank?) ? 'HCII Bulletin Board' : "#{title} - HCII Bulletin Board" %>
	</title>
	
	<!-- Blueprint CSS -->
	<link rel="stylesheet" href="/stylesheets/cw15gw20cc24/screen.css" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="/stylesheets/cw15gw20cc24/print.css" type="text/css" media="print" /> 
	<!--[if lt IE 8]>
		<link rel="stylesheet" href="/stylesheets/cw15gw20cc24/ie.css" type="text/css" media="screen, projection" />
	<![endif]-->
	
	<!-- Application CSS -->
	<link rel="stylesheet" href="/stylesheets/hciibb/main.css" type="text/css" media="screen, projection" />
	
	<%= javascript_include_tag :defaults %>
	<%= csrf_meta_tag %>
</head>
<body>
	
<div class="container">
	<!-- Header -->
	<div id="hd" class="span-24">
		<div class="span-12">
			<h1><a href="/">
				<%= image_tag "/images/hciibb/logo.png", 
					:size => "231x45", 
					:title => "HCII Bulletin Board",
					:style => "margin-left:-5px;" %></a>
			</h1>
		</div>
		<div id="account-nav" class="span-12 last">
			<% if authorized? %>
				You're logged in <span class="pipe">|</span>
				<%= link_to "Log out", logout_path %>
			<% else %>
				<%= link_to "Log in", login_path %>
			<% end %>
		</div>
	</div>
	
	<!-- Body -->
	<div id="bd" class="span-24">
		<%= yield %>
	</div>
	
	<!-- Footer -->
	<div id="ft" class="span-24">
		Copyright &copy; 2011 
		<%= link_to "HCII", "http://www.hcii.cmu.edu/" %>, 
		<%= link_to "Carnegie Mellon University", "http://www.cmu.edu/" %>.
	</div>
</div>

</body>
</html>
